<%- include('includes/header.ejs') %>

    <label for="prog_type"><strong>Choose Program Type:</strong></label>
    <br>
    <select id="prog_type" class="input">
        <option value="sel">--Select a type--</option>
        <option value="asm">Assembly (.yas)</option>
        <option value="bin">Executable binary</option>
    </select>

    <p>
        <input type="button" id="debug" class="button" value="Debug">
    </p>

    <%- include('./includes/js-includes.ejs', {jsFile: jsFile}) %>
</body>
</html>